$ff: "IBM Plex Mono", sans-serif;
$fs: 14px;
$fs-title: 20px;
$fw-normal: 400;
$fw-bold: 600;

$primary-color: #646cff;
$hover-color: #535bf2;
$buy-color: #2ecc71;
$buy-hover-color: #24e675;
$loading-color: #ffeb3b;
$error-color: #f44336;

$spacing: 1.25rem;
$transition: all 0.2s ease-out 0s;
$br: 12px;
